body {
  background-color: lightsalmon;
}

div{
  align-self: center;
  justify-content: center;
}
.navbar{
  background-color: salmon;
  font-size: 1.5rem;
  margin: 50px;
  display: flex;
  align-self: center;
}
.nav-brand {
  font-weight: bold;
}
.button{
  margin: 1px;
  padding: 1px;
}
.card{
margin: 2px;
padding: 5px;
}
.card-body{
  padding: 5%
}
.card-text{
  background-color: white;
font-size: 10px;
align-self: center;
}

    .carousel-inner {
      max-height: 60%;
      max-width: auto;
    }
    img {
        max-width: auto;
        height: auto;
        object-fit: cover;
      }

      .carousel {
        max-height: 60%;
        max-width: 50%;
        display: none;
      }
h5{
  border-style: dashed;
  background-color: lightsalmon;
  text-align: center;
}

      

      @media (max-width: 768px) {
        .navbar-brand {
          font-size: 1.5rem;
          padding-left: 15px;
        }
  
        .navbar-nav .nav-link {
          font-size: 1.2rem; 
          padding: 10px 15px;
        }
  
        .navbar-toggler {
          padding: 8px 10px; 
          font-size: 1.2rem;
        }
      }